  <h1>{{ title }}</h1>
  <div class="block mb-4">
    <h3 class="mt-2">Input</h3>
    <textarea class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" rows="4" [(ngModel)]="inputString" placeholder="Enter string" name="inputBox"></textarea>
    <button (click)="submit()" class="mt-2 bg-blue-500 text-white font-bold py-2 px-4 rounded">Submit</button>
  </div>
  
  <!-- Optional: Display the result -->
  <div *ngIf="resultPartOne !== null && resultPartTwo !== null">
    <div>Result Part One: {{ resultPartOne }}</div>
    <div>Result Part Two: {{ resultPartTwo }}</div>
  </div>